
body {
	background-color: lightgray;
}

h1 {
	border:3px solid red;
}


#preloader {
  position: fixed;
  left: 0;
  top: 0;
  /**/
  width: 100%;
  height: 100%;
  /*overflow: visible;*/
  background: lightgray ;
}

img {
	max-height: 400px;
	margin-top: 0;	

}




#videoPlayer {
  position: fixed;
  top:0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  background: #000000;
  z-index: 999;

}

video {
	position: absolute;
	top:15%;
	left: 25%;
	max-width: 640px;
	max-height: 480px
	border:none;
}




p { 
	margin-top: 0;
	text-align: center;
	height: 10px;
	font-size: 24px;
}


#back {
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  font-weight: bold;
  border:  1px solid #FFFFFF;
  border-radius: 4px;
  position: absolute;
  top: 20px;
  left: 20px;
  height: 58px; 
  width:160px;
}